{% extends 'places/base.html' %} {%block style%}
<style>
    :root {
        --swiper-pagination-bullet-size: 12px;
        --swiper-theme-color: #717171;
        --swiper-pagination-bullet-inactive-color: #bbb;
        --swiper-pagination-bullet-inactive-opacity: 1;
    }
    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #f2f3f3;
    }
    ::-webkit-scrollbar-thumb {
        background: #1d2938;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
{%endblock%} {%block content%}
<body class="font-roboto bg-[#f2f3f3]">
    <div class="container max-w-6xl mx-auto p-4">
        <!-- Title -->
        <h1 class="text-4xl font-bold text-center mb-6 text-[#1d2938]">
            {{place.name}}
        </h1>
        <!-- Slider -->
        <div class="flex gap-6 flex-wrap justify-center">
            <div
                class="slider swiper flex-1 basis-1/2 relative min-h-[48rem] rounded-lg min-w-[0]"
            >
                <div class="slides swiper-wrapper flex">
                    {%for image in place.images.all%}
                    <div class="slide swiper-slide relative">
                        <img
                            alt="Image of the establishment's interior with modern decor"
                            class="w-full h-full object-cover object-center shadow-md absolute inset-0 size-full"
                            height="400"
                            src="{{ image.image.url }}"
                            width="600"
                        />
                    </div>
                    {%endfor%}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="flex-1 basis-[28rem]">
                <!-- Description -->
                <div class="bg-[#1d2938] p-6 rounded-lg shadow-md mb-6">
                    <h2 class="text-2xl font-bold mb-4 text-white">Описание</h2>
                    <p class="text-gray-300">{{place.description}}</p>
                </div>
                <!-- Addresses -->
                <div class="bg-[#1d2938] p-6 rounded-lg shadow-md mb-6">
                    <h2 class="text-2xl font-bold mb-4 text-white">Адреса</h2>
                    <ul class="list-disc list-inside text-gray-300">
                        {%for address in place.addresses.all%}
                        <li>{{address.address}}</li>
                        {%endfor%}
                    </ul>
                </div>
                <!-- QR Code -->
                {%if place.promotion_image%}
                <div
                    class="bg-[#1d2938] p-6 rounded-lg shadow-md flex justify-center"
                >
                    <img
                        alt="QR code for the establishment's website or menu"
                        class="w-48 h-48"
                        height="200"
                        src="{{place.promotion_image.url}}"
                        width="200"
                    />
                </div>
            </div>
            {%else%}
            <div class="bg-[#1d2938] p-6 rounded-lg shadow-md">
                <p class="text-gray-300">{{place.promotion_text}}</p>
            </div>
            {%endif%}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const slider = new Swiper(".slider", {
            slidesPerView: 1,
            loop: true,
            spaceBetween: 10,
            speed: 500,
            // autoplay: {
            //     delay: 3000,
            // },
            pagination: {
                el: ".slider .swiper-pagination",
                clickable: true,
            },
        });
    </script>
</body>
{%endblock%}
